<div class="update-wrapper">
  <div class="container">
    <div class="col-md-offset-3 col-md-6">
      <!-- トップタイトル -->
      <h1 class="text-center">
        撮影条件の編集
      </h1>
      <%= form_for @condition do |f| %>
        <!-- タイトル入力 -->
        <div class="row form-group">
          <div class="col-md-4">
            <%= f.label :title, "タイトル (必須)" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :title, value: @condition.title %>
          </div>
        </div>
        <!-- カメラ入力 -->
        <div class="row form-group">
          <div class="col-md-4">
            <%= f.label :camera, "カメラ（必須）" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :camera, value: @condition.camera %>
          </div>
        </div>
        <!-- レンズ入力 -->
        <div class="row form-group">
          <div class="col-md-4">
            <%= f.label :lens, "レンズ" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :lens, value: @condition.lens %>
          </div>
        </div>
        <!-- 望遠鏡入力 -->
        <div class="row form-group">
          <div class="col-md-4">
            <%= f.label :telescope, "天体望遠鏡" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :telescope, value: @condition.telescope %>
          </div>
        </div>
        <!-- フィルター入力 -->
        <div class="row form-group">
          <div class="col-md-4">
            <%= f.label :filter, "フィルター" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :filter, value: @condition.filter %>
          </div>
        </div>
        <!-- マウント入力 -->
        <div class="row form-group">
          <div class="col-md-4">
            <%= f.label :mount, "マウント" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :mount, value: @condition.mount %>
          </div>
        </div>
        <!-- 三脚入力 -->
        <div class="row form-group">
          <div class="col-md-4">
            <%= f.label :tripod, "三脚" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :tripod, value: @condition.tripod %>
          </div>
        </div>
        <!-- 備考入力 -->
        <div class="row form-group">
          <div class="col-md-4">
            <%= f.label :description, "備考" %>
          </div>
          <div class="col-md-4">
            <%= f.text_area :description, value: @condition.description %>
          </div>
        </div>
        <!-- 更新ボタン -->
        <div class="row form-group">
          <%= f.submit "更新", class: 'btn btn-black btn-block' %>
        </div>
        <!-- 削除ボタン -->
        <div class="row form-group">
          <%= link_to "削除", condition_path(@condition.id), method: :delete, class: 'btn btn-black btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
