<div class="condition-index-wrapper">
  <div class="container">
    <!-- トップタイトル -->
    <h1 class="text-black text-center">撮影条件</h1>
    <!-- 新規登録ページへのボタン -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to "新規登録", new_condition_path, class: 'btn btn-black btn-block' %>
      </div>
    </div>
    <!-- 登録済み撮影条件一覧 -->
    <% @conditions.each do |condition| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="condition-index-single">
            <h2 class="condition-title">
              <%= condition.title %>
            </h2>
            <p class="condition-text">
              <%= condition.camera %>
            </p>
            <p class="condition-text">
              <%= condition.lens %>
            </p>
            <p class="condition-text">
              <%= condition.telescope %>
            </p>
            <p class="condition-text">
              <%= condition.filter %>
            </p>
            <p class="condition-text">
              <%= condition.mount %>
            </p>
            <p class="condition-text">
              <%= condition.tripod %>
            </p>
            <p class="condition-text">
              <%= condition.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>