<div class="condition-index-wrapper">
  <div class="container">
    <!-- トップタイトル -->
    <h1 class="text-black text-center">撮影条件</h1>
    <!-- 新規登録ページへのボタン -->
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= link_to "新規登録", new_condition_path, class: 'btn btn-black btn-block' %>
      </div>
    </div>
    <!-- 登録済み撮影条件一覧 -->
    <% iCondition = -1 %>
    <% @conditions.each do |condition| %>
    <% iCondition = iCondition + 1 %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="condition-index-single">
            <h2 class="condition-title">
              <%= link_to condition.title, edit_condition_path(condition.id) %>
            </h2>
            <table class="condition-table">
              <tr>
                <td>カメラ</td>
                <td><%= condition.camera %></td><!--- condition.id-1 -->
                
                <% itemLinkArr = @itemLinks[iCondition].camera.split(',') %>
                <% nLink = itemLinkArr[0].to_i %>
                <% nLink.times do |i| %>
                  <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                <% end %>
              </tr>
              <% if !condition.lens.empty? then %>
                <tr>
                  <td>レンズ</td>
                  <td><%= condition.lens %></td>
                  <% itemLinkArr = @itemLinks[iCondition].lens.split(',') %>
                  <% nLink = itemLinkArr[0].to_i %>
                  <% nLink.times do |i| %>
                    <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                  <% end %>
                </tr>
              <% end %>
              <% if !condition.telescope.empty? then %>
                <tr>
                  <td>天体望遠鏡</td>
                  <td><%= condition.telescope %></td>
                    <% itemLinkArr = @itemLinks[iCondition].telescope.split(',') %>
                    <% nLink = itemLinkArr[0].to_i %>
                    <% nLink.times do |i| %>
                      <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                    <% end %>
                </tr>
              <% end %>
              <% if !condition.filter.empty? then %>
                <tr>
                  <td>フィルタ</td>
                  <td><%= condition.filter %></td>
                  <% itemLinkArr = @itemLinks[iCondition].filter.split(',') %>
                  <% nLink = itemLinkArr[0].to_i %>
                  <% nLink.times do |i| %>
                    <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                  <% end %>
                </tr>
              <% end %>
              <% if !condition.mount.empty? then %>
                <tr>
                  <td>マウント</td>
                  <td><%= condition.mount %></td>
                  <% itemLinkArr = @itemLinks[iCondition].mount.split(',') %>
                  <% nLink = itemLinkArr[0].to_i %>
                  <% nLink.times do |i| %>
                    <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                  <% end %>
                </tr>
              <% end %>
              <% if !condition.tripod.empty? then %>
                <tr>
                  <td>三脚</td>
                  <td><%= condition.tripod %></td>
                  <% itemLinkArr = @itemLinks[iCondition].tripod.split(',') %>
                  <% nLink = itemLinkArr[0].to_i %>
                  <% nLink.times do |i| %>
                    <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
            <p class="condition-text">
              <%= condition.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
