<div class="condition-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">撮影条件登録</h1>
        <%= form_for @condition do |f| %>
          <!-- タイトル入力 -->
          <div class="form-group">
            <%= f.label :title, "タイトル (必須)" %>
            <%= f.text_field :title %>
          </div>
          <!-- カメラ入力 -->
          <div class="form-group">
            <%= f.label :camera, "カメラ（必須）" %>
            <%= f.text_field :camera %>
          </div>
          <!-- レンズ入力 -->
          <div class="form-group">
            <%= f.label :lens, "レンズ" %>
            <%= f.text_field :lens %>
          </div>
          <!-- 望遠鏡入力 -->
          <div class="form-group">
            <%= f.label :telescope, "天体望遠鏡" %>
            <%= f.text_field :telescope %>
          </div>
          <!-- フィルター入力 -->
          <div class="form-group">
            <%= f.label :filter, "フィルター" %>
            <%= f.text_field :filter %>
          </div>
          <!-- マウント入力 -->
          <div class="form-group">
            <%= f.label :mount, "マウント" %>
            <%= f.text_field :mount %>
          </div>
          <!-- 三脚入力 -->
          <div class="form-group">
            <%= f.label :tripod, "三脚" %>
            <%= f.text_field :tripod %>
          </div>
          <!-- 備考入力 -->
          <div class="form-group">
            <%= f.label :description, "備考" %>
            <%= f.text_area :description %>
          </div>
          <!-- 投稿ボタン -->
          <%= f.submit "投稿", class: 'btn btn-black btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>