<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-black">Log in</h1>
        <%= form_for :session, url: login_path do |f| %>
          <!-- メールアドレス入力 -->
          <div class="form-group">
            <%= f.label :email, class: "text-black" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <!-- パスワード入力 -->
          <div class="form-group">
            <%= f.label :password, class: "text-black" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <!-- ログインボタン -->
          <%= f.submit "Log in", class: "btn-block btn-black" %>
        <% end %>
      </div>
    </div>
  </div>
</div>