<div class="index-wrapper">
  <div class="container">
    <!-- トップタイトル -->
    <h1 class="text-black text-center">
      いいね一覧
    </h1>
    <!-- いいね一覧 -->
    <% @favorite_photos.each do |photo| %>
      <div class="col-md-3">
        <div class="index-single">
          <!-- 画像 -->
          <%= link_to photo_path(photo.id) do %>
            <%= image_tag photo.image.url, class: 'index-img' %>
          <% end %>
          <!-- 各種アイコン -->
          <div class="text-center icon-area">
            <!-- コメント -->
            <%= image_tag 'icons/comment.png', class: 'icon' %>
            <!-- コメントカウント -->
            <span class="icon-count">
              <%= photo.photo_comments.count %>
            </span>
          </div>
          <!-- 投稿者 -->
          <h3 class="index-item">
            作者
          </h3>
          <p class="index-text">
            <%= photo.condition.user.name %>
            <!-- フォロー機能 -->
            <% if logged_in? %>
              <% unless photo.condition.user == current_user %>
                <span class="index-follow">
                  <% if current_user.following?(photo.condition.user) %>
                    <%= link_to 'フォロー解除', unfollow_path(photo.condition.user.id), method: :post %>
                  <% else %>
                    <%= link_to 'フォロー', follow_path(photo.condition.user.id), method: :post %>
                  <% end %>
                </span>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>