<div class="user-show-wrapper">
  <div class="container">
    
    <div class="row">
      <div class="col-md-offset-4 col-md-4 user-show-container">
        <h1 class="text-center text-black">マイページ</h1>
        <%= link_to "アカウント情報の変更", "#", class: "btn btn-black btn-block" %>
        <%= link_to "撮影条件一覧", conditions_path, class: "btn btn-black btn-block" %>
        <%= link_to "クレジットカード情報", card_path, class: "btn btn-black btn-block" %>
        <%= link_to "購入履歴", orders_path, class: "btn btn-black btn-block" %>
        <%= link_to "販売履歴", sales_index_order_path, class: "btn btn-black btn-block" %>
        
      </div>
    </div>
    
  </div>
</div>
