<div class="index-wrapper">
  <div class="container">
    <!-- トップタイトル -->
    <h1 class="text-black text-center">
      イベント一覧
    </h1>
    <!-- 新規投稿ページへのボタン -->
    <% if current_user && create_user? %>
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <%= link_to "新規投稿", new_event_path, class: 'btn btn-black btn-block' %>
        </div>
      </div>
    <% end %>
    <!-- イベント一覧 -->
    <% @events.each do |event| %>
      <div class="index-single">
        <div class="row">
          <div class="col-md-3">
            <!-- 画像 -->
            <%= link_to event_path(event.id) do %>
              <%= image_tag event.image.url, class: 'index-img' %>
            <% end %>
          </div>
          <div class="col-md-7">
            <!-- タイトル -->
            <%= link_to event_path(event.id) do %>
              <h2 class="index-title">
                <%= event.title %>
              </h2>
            <% end %>
            <!-- 詳細情報 -->
            <table class="index-table">
              <tr>
                <td>主催者</td>
                <td>
                  <%= link_to user_path(id: event.user_id) do %>
                    <%= event.user.name %>
                  <% end %>
                  <!-- フォロー機能 -->
                  <% if logged_in? %>
                    <% if event.user != current_user %>
                      <span class="show-follow">
                        <% if current_user.following?(event.user) %>
                          <%= link_to 'フォロー解除', unfollow_path(event.user_id), method: :post %>
                        <% else %>
                          <%= link_to 'フォロー', follow_path(event.user_id), method: :post %>
                        <% end %>
                      </span>
                    <% end %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>開催日時</td>
                <td><%= event.date.year %>/<%= event.date.month %>/<%= event.date.day %>  <%= event.start_time.hour %>:<%= event.start_time.min %></td>
              </tr>
              <tr>
                <td>開催地</td>
                <td><%= event.location %></td>
              </tr>
              <tr>
                <td>説明</td>
                <td><%= event.description %></td>
              </tr>
            </table>
          </div>
          <!-- 各種アイコン -->
          <div class="col-md-2 text-right icon-area">
            <!-- コメント -->
            <% if logged_in? %>
              <!-- ログイン中の表示 -->
              <%= link_to event_path(event.id) do %>
                <%= image_tag 'icons/comment.png', class: 'icon' %>
              <% end %>
            <% else %>
              <!-- ログオフ中の表示 -->
              <%= image_tag 'icons/comment.png', class: 'icon' %>
            <% end %>
            <!-- コメントカウント -->
            <span class="icon-count">
             <%= event.event_comments.count %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
