<div class="event-index-wrapper">
  <div class="container">
    <!-- トップタイトル -->
    <h1 class="text-black text-center">イベント</h1>
    <!-- 新規投稿ページへのボタン -->
    <% if create_user? %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= link_to "投稿", new_event_path, class: 'btn btn-black btn-block' %>
        </div>
      </div>
    <% end %>
    <!-- イベント一覧 -->
    <% @events.each do |event| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="event-index-single">
            <h2 class="event-author">
              <%= event.user.name %>
            </h2>
            <%= image_tag event.image.url %>
            <%= image_tag 'icons/comment.png', class: 'event-index-icon' %>
            <table class="event-table">
              <tr>
                <td>開催日時</td>
                <td><%= event.date.year %>/<%= event.date.month %>/<%= event.date.day %></td>
                <td><%= event.start_time.hour %>:<%= event.start_time.min %></td>
              </tr>
              <tr>
                <td>開催地</td>
                <td><%= event.location %></td>
              </tr>
            </table>
            <p class="event-text">
              <%= event.description %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>