<div class="index-wrapper">
  <div class="container">
    <!-- トップタイトル -->
    <h1 class="text-black text-center">
      販売履歴
    </h1>
    <!-- 販売履歴一覧 -->
    <div class="col-md-offset-2 col-md-8">
      <table class="index-single">
        <tr class="row">
          <td class="col-md-3">タイトル</td>
          <td class="col-md-3">価格</td>
          <td class="col-md-3">購入ユーザ名</td>
          <td class="col-md-3">購入日時</td>
        </tr>
        <% @sales.each do |sale| %>
          <tr class="row">
            <td class="col-md-3">
              <%= link_to photo_path(sale.photo_id) do %>
                <%= sale.title %>
              <% end %>
            </td>
            <td class="col-md-3"><%= sale.price %>円</td>
            <td class="col-md-3"><%= @customers.find(sale.user_id).name %></td>
            <td class="col-md-3"><%= sale.created_at.strftime('%Y/%m/%d %H:%M') %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>  
