<div class="index-wrapper">
  <div class="container">
    <!-- トップタイトル -->
    <h1 class="text-black text-center">
      天体写真一覧
    </h1>
    <!-- 新規投稿ページへのボタン -->
    <% if current_user && create_user? %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= link_to "投稿", new_photo_path, class: 'btn btn-black btn-block' %>
        </div>
      </div>
    <% end %>
    <!-- 写真一覧 -->
    <% @photos.each do |photo| %>
      <div class=""> <!-- <div class="row"> -->
        <div class="col-md-3">  <!-- <div class="col-md-6 col-md-offset-3"> -->
          <div class="index-single">
            <!-- 画像 -->
            <%= link_to photo_path(photo.id) do %>
              <%= image_tag photo.image.url, class: 'index-img' %>
            <% end %>
            <!-- 各種アイコン -->
            <div class="icon-area">
              <!-- いいね -->
              <% if logged_in? && photo.condition.user != current_user %>
                <!-- ログイン中の表示 -->
                <% if photo.favorite_users.include?(current_user) %>
                  <!-- いいね済のとき -->
                  <%= link_to favorites_path(photo_id: photo.id, redirect_flg: 0), method: :delete do %>
                    <%= image_tag 'icons/heart.png', class: 'icon-favorited' %>
                  <% end %>
                <% else %>
                  <!-- 未いいねのとき -->
                  <%= link_to favorites_path(photo_id: photo.id, redirect_flg: 0), method: :post do %>
                    <%= image_tag 'icons/heart.png', class: 'icon' %>
                  <% end %>
                <% end %>
              <% else %>
                <!-- ログオフ中の表示 -->
                <%= image_tag 'icons/heart.png', class: 'icon' %>
              <% end %>
              <!-- いいねカウント -->
              <span class="icon-count">
                <%= photo.favorites.count %>
              </span>
              <!-- コメント -->
              <% if logged_in? %>
                <!-- ログイン中の表示 -->
                <%= link_to photo_path(photo.id) do %>
                  <%= image_tag 'icons/comment.png', class: 'icon' %>
                <% end %>
              <% else %>
                <!-- ログオフ中の表示 -->
                <%= image_tag 'icons/comment.png', class: 'icon' %>
              <% end %>
              <!-- コメントカウント -->
              <span class="icon-count">
                <%= photo.photo_comments.count %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
