<div class="purchase-index-wrapper">
  <div class="container">
    <!-- トップタイトル -->
    <h1 class="text-black text-center">購入内容の確認</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <!-- 購入内容表示 -->
        <div class="photo-index-single">
          <!-- 投稿者 -->
          <h3 class="photo-author">
            <%= @autor %>
          </h3>
          <h2>
            「<%= @photo.title %>」
          </h2>
          <%= image_tag @photo.image.url %>
          <p class="photo-text">
            <%= @photo.description %>
          </p>
          <h3>価格</h3>
          <p class="photo-text">
            <%= @photo.price %>円
          </p>
          <script
            type="text/javascript"
            src="https://checkout.pay.jp/"
            class="payjp-button"
            data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>">
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
