<div class="photo-show-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="photo-show-single">
          <h3 class="photo-author">
            <%= @author %>
          </h3>
          <h2>
            「<%= @photo.title %>」
          </h2>
          <%= image_tag @photo.image.url %>
          <h3>撮影情報</h3>
          <table class="photo-table">
            <% if !@photo.date.nil? %>
              <tr>
                <td>撮影日時</td>
                <td><%= @photo.date.strftime('%Y/%m/%d') %></td>
                <td><%= @photo.time.strftime('%H:%M') %></td>
              </tr>
            <% end %>
            <tr>
              <td>撮影地</td>
              <td><%= @photo.location %></td>
            </tr>
          </table>
          <h3>撮影機材</h3>
          <table class="photo-table">
            <tr>
              <td>カメラ</td>
              <td><%= @condition.camera %></td>
                <% itemLinkArr = @itemLink.camera.split(',') %>
                <% nLink = itemLinkArr[0].to_i %>
                <% nLink.times do |i| %>
                  <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                <% end %>
            </tr>
            <% if !@condition.lens.empty? then %>
            <tr>
              <td>レンズ</td>
              <td><%= @condition.lens %></td>
                <% itemLinkArr = @itemLink.lens.split(',') %>
                <% nLink = itemLinkArr[0].to_i %>
                <% nLink.times do |i| %>
                  <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                <% end %>
            </tr>
            <% end %>
            <% if !@condition.telescope.empty? then %>
            <tr>
              <td>天体望遠鏡</td>
              <td><%= @condition.telescope %></td>
                <% itemLinkArr = @itemLink.telescope.split(',') %>
                <% nLink = itemLinkArr[0].to_i %>
                <% nLink.times do |i| %>
                  <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                <% end %>
            </tr>
            <% end %>
            <% if !@condition.filter.empty? then %>
            <tr>
              <td>フィルタ</td>
              <td><%= @condition.filter %></td>
                <% itemLinkArr = @itemLink.filter.split(',') %>
                <% nLink = itemLinkArr[0].to_i %>
                <% nLink.times do |i| %>
                  <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                <% end %>
            </tr>
            <% end %>
            <% if !@condition.mount.empty? then %>
            <tr>
              <td>マウント</td>
              <td><%= @condition.mount %></td>
                <% itemLinkArr = @itemLink.mount.split(',') %>
                <% nLink = itemLinkArr[0].to_i %>
                <% nLink.times do |i| %>
                  <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                <% end %>
            </tr>
            <% end %>
            <% if !@condition.tripod.empty? then %>
            <tr>
              <td>三脚</td>
              <td><%= @condition.tripod %></td>
                <% itemLinkArr = @itemLink.tripod.split(',') %>
                <% nLink = itemLinkArr[0].to_i %>
                <% nLink.times do |i| %>
                  <td><%= link_to itemLinkArr[i+1], itemLinkArr[i+nLink+1] %></td>
                <% end %>
            </tr>
            <% end %>
          </table>
          <h3>価格</h3>
          <p class="photo-text">
            <%= @photo.price %>円
            <span>
              <% if logged_in? %>
                <%= link_to "購入", "#", class: "btn btn-black btn-block" %>
              <% else %>
                <%= link_to "購入", login_path, class: "btn btn-black btn-block" %>
              <% end %>
            </span>
          </p>
          <p class="photo-text">
            <%= @photo.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
