<div class="show-wrapper">
  <div class="container">
    <!-- トップタイトル -->
    <h1 class="text-black text-center">
      登録カード情報
    </h1>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <div class="show-single">
          <%= image_tag "cards/#{@card_src}", class: "card-show-img", alt: @card_brand %>
          <h3 class="show-item">
            カード番号
          </h3>
          <p class="show-text">
            <%= "**** **** **** #{@customer_card.last4}" %>
          </p>
          <h3 class="show-item">
            有効期限
          </h3>
          <p class="show-text">
            <%= "#{@exp_month} / #{@exp_year}" %>
          </p>
          <%= form_with url: cards_path do %>
            <script
              type="text/javascript"
              src="https://checkout.pay.jp/"
              class="payjp-button"
              data-key="<%= ENV["PAYJP_PUBLIC_KEY"] %>"
              data-text="別のカードを登録する">
            </script>
          <% end %>
          <%= link_to "削除", card_path, method: :delete, class: 'btn btn-block btn-black' %>
        </div>  
      </div>
    </div>
  </div>
</div>
