<!DOCTYPE html>
<html>
  <head>
    <title>Astrogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <!-- アラート表示 -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
      <div class="container">
        <!-- ロゴ -->
        <% if !logged_in? %>
          <%= link_to root_path do %>
            <span><%= image_tag "icons/logo.png", class: "navbar-brand" %></span>
          <% end %>
        <% else %>
          <%= link_to events_path do %>
            <span><%= image_tag "icons/logo.png", class: "navbar-brand" %></span>
          <% end %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <!-- いいね一覧 -->
            <li>
              <%= link_to "#" do %>
                <%= image_tag "icons/heart.png" %>
              <% end %>
            </li>
            <!-- 写真一覧 -->
            <li>
              <%= link_to photos_path do %>
                <%= image_tag "icons/photo.png" %>
              <% end %>
            </li>
            <!-- イベント一覧 -->
            <li>
              <%= link_to events_path do %>
                <%= image_tag "icons/event.png" %>
              <% end %>
            </li>
            <!-- 撮影情報ページ -->
            <% if create_user? %>
              <li>
                <%= link_to conditions_path do %>
                  <%= image_tag "icons/condition.png" %>
                <% end %>
              </li>
            <% end %>
            <!-- マイページ -->
            <li>
              <%= link_to user_path(current_user.id) do %>
                <%= image_tag "icons/account.png" %>
              <% end %>
            </li>
            <!-- ログアウト -->
            <li>
              <%= link_to logout_path, method: :delete do %>
                <%= image_tag "icons/logout.png" %>
              <% end %>
            </li>
          <% else %>
            <!-- 写真一覧 -->
            <li>
              <%= link_to photos_path do %>
                <%= image_tag "icons/photo.png" %>
              <% end %>
            </li>
            <!-- イベント一覧 -->
            <li>
              <%= link_to events_path do %>
                <%= image_tag "icons/event.png" %>
              <% end %>
            </li>
            <!-- アカウント登録 -->
            <li>
              <%= link_to new_user_path do %>
                <%= image_tag "icons/account_new.png" %>
              <% end %>
            </li>
            <!-- ログイン -->
            <li>
              <%= link_to login_path do %>
                <%= image_tag "icons/login.png" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    
    <%= yield %>
    <!-- 動的アラート表示(1.000秒間でフェードアウト) -->
    <script>
      $(function(){
        $(".alert").fadeOut(3000);
      });
    </script>
  </body>
</html>
